{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 100,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^./src/(.*)$",
    "^@app/(.*)$",
    "^@entities/(.*)$",
    "^@pages/(.*)$",
    "^@shared/(.*)$",
    "^@widgets/(.*)$",
    "^@features/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
